priority -48


snippet main
int main()
{
	${0}

	return 0;
}
endsnippet

snippet cpp
#include<iostream>
using namespace std;

int main()
{
	${0}

	return 0;
}
endsnippet

snippet for "for-loop"
for(${1:var}; ${2:condition}; ${3:operation})
{
	$0
}
endsnippet
